body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#txt {
    color: #fff;
}
#buttons {
    cursor: pointer;
}
#txt2 {
    color: #fff;
}